<article id="post-254" class="post-254 post type-post status-publish">

	<figure class="featured-image">
		<a href="https://goodzmagazinedemo.wordpress.com/2015/10/19/package-game-in-fashion/">
      <img src="{{ site.path }}/images/header.jpg" alt="{{ site.title }}">
    </a>
	</figure>

	<header class="entry-header">
		<span class="cat-links"><a href="https://goodzmagazinedemo.wordpress.com/category/design/" rel="category tag">Design</a></span>
		<h2 class="entry-title"><a href="https://goodzmagazinedemo.wordpress.com/2015/10/19/package-game-in-fashion/" rel="bookmark">Package Game in&nbsp;Fashion</a></h2>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>When it comes to fashion and it’s packaging, especially the one ordered online, packaging is something that the brands, new and upcoming, as well as the big and established ones take much more detail and time into.</p>
    <a class="read-more" href="https://goodzmagazinedemo.wordpress.com/2015/10/19/package-game-in-fashion/">Read more</a>
	</div><!-- .entry-content -->

</article>
