<div class="row-section">

  <div class="container">

    <div class="section-heading">

      <h1 class="section-title ">SERVICES</h1>
      <div class="section-subtitle">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere c.Etiam ut dui eu nisi lobortis rhoncus ac quis nunc.</div>

    </div><!-- /.section-heading -->

    <div class="row services">

      <div class="col-md-4 service">

        <div class="icon-box">
          <i class="fa fa-home"></i>
        </div>

        <h3>Free PSD Template</h3>

        <div class="feature-content">
          <p>Integer pulvinar elementum est, suscipit ornare ante finibus ac. Praesent vel ex dignissim, rhoncus eros luctus, dignissim arcu.</p>
          <a href="" target="_blank" class="feature-link"></a>
        </div>

      </div><!-- /.service -->

      <div class="col-md-4 service">

        <div class="icon-box">
          <i class="fa fa-area-chart"></i>
        </div>

        <h3>Free PSD Template</h3>

        <div class="feature-content">
          <p>Integer pulvinar elementum est, suscipit ornare ante finibus ac. Praesent vel ex dignissim, rhoncus eros luctus, dignissim arcu.</p>
          <a href="" target="_blank" class="feature-link"></a>
        </div>

      </div><!-- /.service -->

      <div class="col-md-4 service">

        <div class="icon-box">
          <i class="fa fa-anchor"></i>
        </div>

        <h3>Free PSD Template</h3>

        <div class="feature-content">
          <p>Integer pulvinar elementum est, suscipit ornare ante finibus ac. Praesent vel ex dignissim, rhoncus eros luctus, dignissim arcu.</p>
          <a href="" target="_blank" class="feature-link"></a>
        </div>

      </div><!-- /.service -->

    </div>

  </div>

</div><!-- /.row-section -->
