<aside id="search-2" class="widget widget_search">
  <form role="search" method="get" class="search-form" action="#/">
  	<label>
  		<span class="screen-reader-text">Search for:</span>
  		<input class="search-field" placeholder="Search …" value="" name="s" title="Search for:" type="search">
  	</label>
  	<button type="submit" class="search-submit">
  		<span class="genericon genericon-search">
  			<span class="screen-reader-text">Search</span>
  		</span>
  	</button>
  </form>
</aside>





<aside id="archives-2" class="widget widget_archive">
  <h1 class="widget-title">Archives</h1>
  <ul>
    <li><a href="#/2015/03/">March 2015</a></li>
    <li><a href="#/2011/09/">September 2011</a></li>
    <li><a href="#/2011/07/">July 2011</a></li>
  </ul>
</aside>


<aside id="monster-widget-placeholder-1" class="widget widget_archive">
  <h1 class="widget-title">Archives List</h1>
  <ul>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2016/01/">January 2016</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2015/12/">December 2015</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2015/10/">October 2015</a>&nbsp;(2)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2015/08/">August 2015</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2014/01/">January 2014</a>&nbsp;(12)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2013/12/">December 2013</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2013/11/">November 2013</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2013/10/">October 2013</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2013/09/">September 2013</a>&nbsp;(1)</li>
  	<li><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2013/08/">August 2013</a>&nbsp;(2)</li>
  </ul>
</section>



<aside id="recent-comments-3" class="widget widget_recent_comments">
  <h1 class="widget-title">Comments</h1>
  <table class="recentcommentsavatar" border="0" cellpadding="0" cellspacing="0">
	  <tbody>
      <tr>
        <td title="Aleksandra Laczek" class="recentcommentsavatartop" style="height:48px; width:48px;">
          <a href="http://soakingupthelight.wordpress.com" rel="nofollow">
            <img src="{{ site.path }}/images/avatar.jpg" alt="Avatar" class="avatar avatar-48 grav-hashed" height="48" width="48">
          </a>
        </td>
        <td class="recentcommentstexttop" style="">
          <a href="http://soakingupthelight.wordpress.com" rel="nofollow">Aleksandra Laczek</a> on <a href="#/2011/09/20/welcome-to-lovecraft/#comment-11">Welcome to Lovecraft</a>
        </td>
      </tr>
    </tbody>
  </table>
</aside>







<aside class="widget widget_calendar">

  <h1 class="widget-title">Calendar</h1>
  <div id="calendar_wrap" class="calendar_wrap">
    <table id="wp-calendar">
  	  <caption>April 2016</caption>
  	  <thead>
      	<tr>
      		<th scope="col" title="Monday">M</th>
      		<th scope="col" title="Tuesday">T</th>
      		<th scope="col" title="Wednesday">W</th>
      		<th scope="col" title="Thursday">T</th>
      		<th scope="col" title="Friday">F</th>
      		<th scope="col" title="Saturday">S</th>
      		<th scope="col" title="Sunday">S</th>
      	</tr>
    	</thead>

    	<tfoot>
      	<tr>
      		<td colspan="3" id="prev"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/2016/01/">« Jan</a></td>
      		<td class="pad">&nbsp;</td>
      		<td colspan="3" id="next" class="pad">&nbsp;</td>
      	</tr>
    	</tfoot>

	    <tbody>
      	<tr>
      		<td colspan="4" class="pad">&nbsp;</td><td>1</td><td>2</td><td id="today">3</td>
      	</tr>
      	<tr>
      		<td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
      	</tr>
      	<tr>
      		<td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td>
      	</tr>
      	<tr>
      		<td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
      	</tr>
      	<tr>
      		<td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
      		<td class="pad" colspan="1">&nbsp;</td>
      	</tr>
    	</tbody>
  	</table>

  </div>

</aside>






<aside class="widget widget_archive">
  <h1 class="widget-title">Archives Dropdown</h1>
  <label class="screen-reader-text" for="archives-dropdown--1">Archives Dropdown</label>
	<select id="archives-dropdown--1" name="archive-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
	  	<option value="">Select Month</option>
			<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2016/01/"> January 2016 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2015/12/"> December 2015 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2015/10/"> October 2015 &nbsp;(2)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2015/08/"> August 2015 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2014/01/"> January 2014 &nbsp;(12)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/12/"> December 2013 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/11/"> November 2013 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/10/"> October 2013 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/09/"> September 2013 &nbsp;(1)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/08/"> August 2013 &nbsp;(2)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/07/"> July 2013 &nbsp;(2)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/06/"> June 2013 &nbsp;(2)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/05/"> May 2013 &nbsp;(10)</option>
    	<option value="http://localhost/~kharissulistiyo/wpwp/4.4/2013/03/"> March 2013 &nbsp;(3)</option>
	</select>
</aside>







<aside id="monster-widget-placeholder-4" class="widget widget_categories">
  <h1 class="widget-title">Categories List</h1>
  <ul>
    <li class="cat-item cat-item-100"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/aciform/">aciform</a> (1)</li>
    <li class="cat-item cat-item-101"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/antiquarianism/">antiquarianism</a> (1)</li>
    <li class="cat-item cat-item-38"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/architecture/">Architecture</a> (3)</li>
    <li class="cat-item cat-item-102"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/arrangement/">arrangement</a> (1)</li>
  </ul>
</aside>







<aside id="monster-widget-placeholder-6" class="widget widget_pages">
  <h2 class="widget-title">Pages</h2>
  <ul>
    <li class="page_item page-item-416"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/another-page/">Another Page</a></li>
    <li class="page_item page-item-703"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/blog-3/">Blog</a></li>
    <li class="page_item page-item-9991 current_page_parent"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/blog-2/">Blog Page</a></li>
    <li class="page_item page-item-701"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/front-page/">Front Page</a></li>
    <li class="page_item page-item-7"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/home/">Home</a></li>
	</ul>
</aside>








<aside id="monster-widget-placeholder-13" class="widget widget_tag_cloud">
  <h2 class="widget-title">Tag Cloud</h2>
  <div class="tagcloud"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/alignment-2/" class="tag-link-71" title="3 topics" style="font-size: 12.516129032258pt;">alignment</a>
    <a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/beach/" class="tag-link-25" title="4 topics" style="font-size: 14.021505376344pt;">Beach</a>
    <a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/blog-tag/" class="tag-link-35" title="7 topics" style="font-size: 17.032258064516pt;">blog</a>
    <a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/captions-2/" class="tag-link-73" title="2 topics" style="font-size: 10.709677419355pt;">captions</a>
    <a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/categories/" class="tag-link-74" title="2 topics" style="font-size: 10.709677419355pt;">categories</a>
    <a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/cell/" class="tag-link-7" title="1 topic" style="font-size: 8pt;">cell</a>
  </div>
</aside>






<aside id="monster-widget-placeholder-14" class="widget widget_nav_menu">
  <h2 class="widget-title">Nav Menu</h2>
  <div class="menu-testing-menu-container">
    <ul id="menu-testing-menu" class="menu">
      <li id="menu-item-10031" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10031">
      <a href="#">Pages</a>
<ul class="sub-menu">
	<li id="menu-item-10072" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10072"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/about/page-image-alignment/">Page Image Alignment</a></li>	<li id="menu-item-10070" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10070"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/about/page-image-alignment/">Page Image Alignment</a></li>	<li id="menu-item-10073" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10073"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/about/page-markup-and-formatting/">Page Markup And Formatting</a></li>	<li id="menu-item-10071" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10071"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/about/page-markup-and-formatting/">Page Markup And Formatting</a></li></ul>
</li><li id="menu-item-10032" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10032"><a href="#">Categories</a>
<ul class="sub-menu">
	<li id="menu-item-10033" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-10033"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/markup/">Markup</a></li>	<li id="menu-item-10034" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10034"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/tag/post-formats/">Post Formats</a></li>	<li id="menu-item-10035" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-10035"><a href="http://localhost/~kharissulistiyo/wpwp/4.4/category/unpublished/">Unpublished</a></li></ul>
</li><li id="menu-item-10036" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10036"><a href="#">Depth</a>
<ul class="sub-menu">
	<li id="menu-item-10037" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10037"><a href="#">Level 01</a>
	<ul class="sub-menu">
		<li id="menu-item-10038" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10038"><a href="#">Level 02</a>
		<ul class="sub-menu">
			<li id="menu-item-10039" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10039"><a href="#">Level 03</a>
			<ul class="sub-menu">
				<li id="menu-item-10040" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10040"><a href="#">Level 04</a>
				<ul class="sub-menu">
					<li id="menu-item-10041" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10041"><a href="#">Level 05</a>
					<ul class="sub-menu">
						<li id="menu-item-10042" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10042"><a href="#">Level 06</a>
						<ul class="sub-menu">
							<li id="menu-item-10043" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10043"><a href="#">Level 07</a>
							<ul class="sub-menu">
								<li id="menu-item-10044" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10044"><a href="#">Level 08</a>
								<ul class="sub-menu">
									<li id="menu-item-10045" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10045"><a href="#">Level 09</a>
									<ul class="sub-menu">
										<li id="menu-item-10046" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10046"><a href="#">Level 10</a></li>									</ul>
</li>								</ul>
</li>							</ul>
</li>						</ul>
</li>					</ul>
</li>				</ul>
</li>			</ul>
</li>		</ul>
</li>	</ul>
</li></ul>
</li><li id="menu-item-10047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10047"><a href="#">Advanced</a>
<ul class="sub-menu">
	<li id="menu-item-10049" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10049"><a title="Custom Title Attribute" href="#">Menu Title Attribute</a></li>	<li id="menu-item-10050" class="custom-menu-css-class menu-item menu-item-type-custom menu-item-object-custom menu-item-10050"><a href="#">Menu CSS Class</a></li>	<li id="menu-item-10051" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10051"><a target="_blank" href="http://apple.com">New Window / Tab</a></li></ul>
</li><li id="menu-item-10048" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10048"><a href="#">Menu Description</a></li></ul></div>

</aside>
