<nav id="mainnav" class="main-navigation" role="navigation">

  <div id="primary-menu" class="menu">
     <ul class=" nav-menu" aria-expanded="false">
        <li aria-haspopup="true" class="page_item page-item-5 page_item_has_children">
           <a href="https://lovecraftdemo.wordpress.com/a-parent-page/">A Parent Page</a>
           <ul class="children">
              <li class="page_item page-item-7"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/first-child/">First Child</a></li>
              <li class="page_item page-item-13"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/fourth-child/">Fourth Child</a></li>
              <li aria-haspopup="true" class="page_item page-item-9 page_item_has_children">
                 <a href="https://lovecraftdemo.wordpress.com/a-parent-page/second-child/">Second Child</a>
                 <ul class="children">
                    <li class="page_item page-item-16"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/second-child/a-grandchild-page/">A Grandchild Page</a></li>
                    <li class="page_item page-item-20"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/second-child/a-spoiled-grandchild-page/">A Spoiled Grandchild&nbsp;Page</a></li>
                    <li aria-haspopup="true" class="page_item page-item-18 page_item_has_children">
                       <a href="https://lovecraftdemo.wordpress.com/a-parent-page/second-child/another-grandchild-page/">Another Grandchild Page</a>
                       <ul class="children">
                          <li class="page_item page-item-22"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/second-child/another-grandchild-page/a-wee-little-baby-page/">A Wee Little Baby&nbsp;Page</a></li>
                       </ul>
                    </li>
                 </ul>
              </li>
              <li class="page_item page-item-11"><a href="https://lovecraftdemo.wordpress.com/a-parent-page/third-child/">Third Child</a></li>
           </ul>
        </li>
        <li class="page_item page-item-25"><a href="https://lovecraftdemo.wordpress.com/html-elements/">HTML Elements</a></li>
        <li class="page_item page-item-30"><a href="https://lovecraftdemo.wordpress.com/image-alignment-and-styles/">Image Alignment and&nbsp;Styles</a></li>
        <li class="page_item page-item-32"><a href="https://lovecraftdemo.wordpress.com/readability/">Readability</a></li>
     </ul>
  </div>

</nav>
